@model WebUtbApp.Models.PeopleViewModel
@{
    ViewData["Title"] = "People Index";
}
<div class="text-center">
    <h2>People Index</h2>
</div>

<div>
    <h4><b>Filter</b></h4>

    <form asp-action="PeopleIndex" method="post" role="form">
        @Html.AntiForgeryToken()
        <div>
            <label asp-for="FilterString"></label>
            <input asp-for="FilterString" required />
            <input type="submit" class="btn btn-primary" name="btnFilter" value="Search" />
        </div>

    </form>
</div>

<div>
    <form class="form" asp-action="CreatePerson" method="post" role="form">
        @Html.AntiForgeryToken()
        <div>
            <h4><b>Create a new person</b></h4>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-75">
                    <input asp-for="Name" />
                    <span style="color: red" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Phone"></label>
                </div>
                <div class="col-75">
                    <input asp-for="Phone" />
                    <span style="color: red" asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="City"></label>
                </div>
                <div class="col-75">
                    <input asp-for="City" />
                    <span style="color: red" asp-validation-for="City"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" name="btnCreatePerson" value="Add Person" />
        </div>
    </form>
</div>
@if (ViewBag.errorsInModel != null)
{
    <div>
        <h4>@ViewBag.Message</h4>

    </div>
}
<div>
    <h4><b>Filter</b></h4>

    <form asp-action="PeopleIndex" method="post" role="form">
        @Html.AntiForgeryToken()
        <div>
            <label asp-for="FilterString"></label>
            <input asp-for="FilterString" required />
            <input type="submit" class="btn btn-primary" name="btnFilter" value="Search" />
        </div>

    </form>
</div>
<div>
    <h4>Table of People</h4>
    <table>
            <tr>
                <th>Nr</th>
                <th>Name</th>
                <th>Phone</th>
                <th>City</th>
            </tr>
            @foreach (var item in Model.ListOfPeople)
            {
    <tr>
        <td>@Html.DisplayFor(m => item.PersonId)</td>
        <td>@Html.DisplayFor(m => item.Name)</td>
        <td>@Html.DisplayFor(m => item.Phone)</td>
        <td>@Html.DisplayFor(m => item.City)</td>
        <td><a asp-controller="People" asp-action="DeletePerson" asp-route-personId=@item.PersonId class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
            }

    </table>
</div>



